@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth; /* Added this line */
}

body * {
    animation: fadeInUp 1s forwards;
    opacity: 0; /* Start with opacity 0 for animation */
    transform: translateY(20px); /* Start from a lower position */
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('images/bg1.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.navbar {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.logo img {
    height: 40px;
    margin-right: 12px;
}

.logo span {
    font-size: 24px;
    font-weight: 600;
    
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #999999; /* Warna default */
    text-decoration: none; /* Menghilangkan garis bawah */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Transisi untuk warna dan text-shadow */
    margin: 10px;
}

.nav-links a:hover, .nav-links a:focus {
    color: #fff; /* Warna saat hover atau fokus */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Menambahkan text-shadow untuk efek terang */
}

.content {

position: absolute;
width: 486px;
height: 273px;
left: 119px;
top: 180px;
text-align: left;
}

.button {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
    opacity: 0; /* Start with opacity 0 for animation */
    transform: translateY(20px); /* Start from a lower position */
    animation: fadeInUp 1s forwards; /* Animation fadeInUp */
}

.reasons {
    text-align: center;
    padding: 50px 20px;
}

.reasons h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.reasons .highlight {
    color: #00bcd4; /* Warna biru untuk highlight */
}

.reasons .subheading {
    font-size: 1.2em;
    color: #777;
    margin-bottom: 40px;
}

.reasons-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.reason {
    max-width: 300px;
    text-align: center;
    margin: 20px;
}

.reason img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.reason h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.reason p {
    font-size: 1em;
    color: #555;
}

.about-us {
    padding: 50px 20px;
    text-align: left;
}

.about-us h1 {
    font-size: 1em;
    color: #00bcd4; /* Warna biru untuk highlight */
    margin-bottom: 20px;
    margin-left: 50px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
}

.about-text {
    max-width: 600px;
}

.about-text h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.about-text .highlight {
    color: #00bcd4; /* Warna biru untuk highlight */
}

.about-text p {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
}

.about-image {
    max-width: 400px;
    flex-shrink: 0;
    margin-right: 50px;
}

.about-image img {
    width: 100%; 
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.button {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
    opacity: 0; /* Start with opacity 0 for animation */
    transform: translateY(20px); /* Start from a lower position */
    animation: fadeInUp 1s forwards; /* Animation fadeInUp */
}

.services {
    text-align: center;
    padding: 50px 20px;
}

.services h1 {
    font-size: 1em;
    color: #00bcd4; /* Warna biru untuk highlight */
    margin-bottom: 10px;
}

.services h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
    color: #333;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 300px;
    text-align: left;
    margin: 20px;
    padding: 20px;
}

.service img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.service h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.service p {
    font-size: 1em;
    color: #555;
}

.button {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    opacity: 0; /* Start with opacity 0 for animation */
    transform: translateY(20px); /* Start from a lower position */
    animation: fadeInUp 1s forwards; /* Animation fadeInUp */
}

.pricing {
    text-align: center;
    padding: 50px 20px;
}

.pricing h1 {
    font-size: 1em;
    color: #00bcd4; /* Warna biru untuk highlight */
    margin-bottom: 10px;
}

.pricing h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
    color: #333;
}

.pricing-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pricing-plan {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.pricing-plan h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
    
}

.pricing-plan .price {
    font-size: 2em;
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
}

.pricing-plan .price span {
    font-size: 0.5em;
    color: #777;
}

.pricing-plan ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;
}

.pricing-plan ul li {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

.button-outline {
    background-color: transparent;
    color: #00bcd4;
    border: 2px solid #00bcd4;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
    opacity: 0; /* Start with opacity 0 for animation */
    transform: translateY(20px); /* Start from a lower position */
    animation: fadeInUp 1s forwards; /* Animation fadeInUp */
}

.button {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    opacity: 0; /* Start with opacity 0 for animation */
    transform: translateY(20px); /* Start from a lower position */
    animation: fadeInUp 1s forwards; /* Animation fadeInUp */
}

.reviews {
    text-align: center;
    padding: 50px 20px;
}

.reviews h1 {
    font-size: 1em;
    color: #00bcd4; /* Warna biru untuk highlight */
    margin-bottom: 10px;
}

.reviews h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
    color: #333;
}

.review-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.review-image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.review-content {
    max-width: 600px;
    text-align: left;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-content h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.review-content .rating {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0; /* Hilangkan margin bawah */
    margin-left: auto; /* Pindahkan elemen rating ke sebelah kanan */
}

.review-content .stars {
    color: #FFD700; /* Warna emas untuk bintang */
}

.review-content .occupation {
    font-size: 1em;
    color: #777;
    margin-bottom: 10px;
}

.review-content .review-text {
    font-size: 1em;
    color: #555;
}

.review-navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav-button {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    opacity: 0; /* Start with opacity 0 for animation */
    transform: translateY(20px); /* Start from a lower position */
    animation: fadeInUp 1s forwards; /* Animation fadeInUp */
}

.nav-button:hover {
    background-color: #0199a8;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-button:active {
    background-color: #017a85;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.prev-button {
    padding: 10px 20px;
}

.footer {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px;
}

.footer-logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo {
    width: 50px;
    margin-right: 10px;
}

.footer-logo-text {
    font-size: 1.5em;
    font-weight: bold;
    color: #00bcd4;
}

.footer-section h4 {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

.footer-section p {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #00bcd4;
    font-size: 1em;
}

.footer-social a {
    margin-right: 10px;
}

.footer-social img {
    width: 24px;
    height: 24px;
}

/* Gaya dasar untuk semua tombol */
.button, .button-outline, .nav-button {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
    opacity: 0; /* Start with opacity 0 for animation */
    transform: translateY(20px); /* Start from a lower position */
    animation: fadeInUp 1s forwards; /* Animation fadeInUp */
}

/* Gaya untuk tombol dengan outline */
.button-outline {
    background-color: transparent;
    color: #00bcd4;
    border: 2px solid #00bcd4;
}

/* Efek hover untuk semua tombol */
.button:hover, .button-outline:hover, .nav-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Efek active untuk semua tombol */
.button:active, .button-outline:active, .nav-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Gaya khusus untuk tombol navigasi */
.nav-button {
    padding: 10px 30px;
    position: relative;
}

/* Gaya khusus untuk tombol prev-button */
.prev-button {
    padding: 10px 20px;
}

/* Animasi fadeInUp */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
